body {
    font-family: 'Segoe UI', sans-serif;
    background: #f1f5f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

input,
button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}